.container {
  max-width: fit-content;

  padding: 16px 24px;

  background-color: var(--background);
  border: 1px solid var(--primary600);
  border-radius: 4px;

  font-size: 1rem;
  font-weight: 700;
  color: var(--primary600);

  transition: all 0.3s ease-in-out;
}

.container:hover {
  background-color: var(--primary600);
  color: var(--text100);
}