@import '../../../styles/variables.module.scss';

.container {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  max-width: fit-content;
  margin: 20px 0 0 104px;
  z-index: 2;

  &:hover {
    .scroll {
      background-color: $primary600;

      .scrollBar {
        background-color: $text100;
      }
    }
  }

  .scrollLink {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .scroll {
    width: 24px;
    height: 36px;
    padding: 4px;
    background-color: $background;
    border: 1px solid $primary600;
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out;

    .scrollBar {
      width: 2px;
      height: 6px;
      margin: 0 auto;
      background-color: $primary600;
      border-radius: 2px;
      transition: background-color 0.3s ease-in-out;
      animation: scrollDown 1s ease-in-out infinite alternate;
      z-index: 2;
    }

    + span {
      font-size: 1rem;
      color: $primary600;
    }
  }

  .scrollIcon {
    color: $primary600;
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(4px);
  }
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
