@import '../../../styles/variables.module.scss';

.container {
  display: flex;
  flex-direction: column;

  padding-top: 88px;

  .typeWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;

    .bar {
      width: 1px;
      height: 32px;
      background-color: $text600;
      margin: 0 20px;
    }
  }
}

@media (max-width: 1080px) {
  .container {
    padding: 0 20px;
    padding-top: 88px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px 0px 20px;

    .typeWrapper {
      margin-bottom: 20px;
      padding-right: 0;
    }
  }
}
