@import '../../../styles/variables.module.scss';

.container {
  display: flex;

  .dotWrapper {
    display: flex;

    position: relative;

    .dot {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: $primary600;

      z-index: 2;
    }

    .line {
      position: absolute;
      left: 50%;

      width: 1px;
      height: 100%;

      background-color: $primary600;
    }
  }

  .content {
    display: flex;

    width: 100%;

    padding: 0 20px 0 84px;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      width: 100%;

      .titleWrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }

      .title {
        font-size: 1.625rem;
        font-weight: 600;
        line-height: 1.5rem;
        color: $text100;
      }

      .period {
        font-size: 0.75rem;
        font-weight: 700;
        color: $primary600;
      }

      .subtitle {
        margin-bottom: 12px;

        font-size: 1.25rem;
        font-weight: 500;
        line-height: 0.75rem;
        color: $text400;
      }

      .description {
        width: 70%;

        font-size: 1rem;
        color: $text600;
      }

      .tagsWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        width: 70%;

        margin-top: 12px;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .content {
      width: 100%;

      padding-left: 20px;
      .wrapper {
        .title {
          font-size: 1.25rem;
        }

        .period {
          font-size: 0.625rem;
        }

        .subtitle {
          font-size: 1.25rem;
          line-height: 1.25rem;
        }

        .description {
          width: 100%;
        }

        .tagsWrapper {
          width: 100%;
        }
      }
    }
  }
}
