:root {
  --background: #0f172a;
  --primary600: #48b8a8;
  --secondary: #131d35;

  --text600: #8088a8;
  --text100: #ccd6f6;

  --overlay: rgba(0, 0, 0, 0.5);
  --boxShadow: rgba(12, 18, 34, 0.5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--background);

  overflow-x: hidden; 
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  
  cursor: pointer;
}