$background: #0f182c;

$primary900: #131d35;
$primary800: #122b39;
$primary600: #55d4c5;

$text600: #768499;
$text400: #505e75;
$text100: #e2e8f0;

$overlay: rgba(0, 0, 0, 0.5);
$boxShadow: rgba(12, 18, 34, 0.5);

:export {
  background: $background;

  primary900: $primary900;
  primary800: $primary800;
  primary600: $primary600;

  text600: $text600;
  text400: $text400;
  text100: $text100;

  overlay: $overlay;
  boxShadow: $boxShadow;
}
