@import '../../../styles/variables.module.scss';

.container {
  display: flex;
  flex-direction: column;

  margin-top: 88px;
  padding: 0 20px;

  .wrapper {
    display: flex;
    gap: 80px;

    .iconWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 32px;

      margin: 40px 0;

      .grettings {
        font-size: 1rem;
        color: $primary600;
      }

      .presentation {
        display: flex;
        flex-direction: column;

        .name {
          font-size: 3rem;
          font-weight: 700;
          color: $text100;
        }

        .role {
          font-size: 3rem;
          font-weight: 700;
          color: $text400;
        }
      }

      .resume {
        width: 70%;

        font-size: 1rem;
        color: $text600;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .wrapper {
      gap: 20px;

      .content {
        .presentation {
          .name,
          .role {
            font-size: 2rem;
          }
        }

        .resume {
          width: 100%;
        }
      }
    }
  }
}
