@import '../../../styles/variables.module.scss';

.container {
  cursor: pointer;

  &:hover {
    .bar {
      background-color: $primary600;

      animation: barScale 0.3s ease-in-out;
    }
  }

  .icon {
    color: $primary600;
  }

  .bar {
    height: 2px;

    border-radius: 2px;

    transition: all 0.3s ease-in-out;
    animation: barScaleRevert 0.3s ease-in-out;
  }
}

@keyframes barScale {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes barScaleRevert {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
